@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes falling-animation {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 1;
  } /* Ensure it moves fully */
}
